body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    color: rgb(80, 80, 80);
   


}img{
    border-radius: 20%;
}
.buscador{
    padding: 2%;
}
button{
    margin-bottom: 8%;
}

@media(max-width:425px) {
    p{
        font-size: 7px;
    }}