.movies-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
}
.movie-card{width: 18vw;}
.movie-card img{
    width:100%;
    height:50%
}