.movies-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2%;
        margin-bottom: 5%;
        
}
.movie-card{width: 18vw;}
.movie-card img{
    width:100%;
    height:auto
}

.links{
    text-decoration: none;
}
