.movies-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2%;
        margin-bottom: 5%;
        
}
.movie-card{width: 18vw;}
.movie-card img{
    width:auto;
    height:150px
}

.links{
    text-decoration: none;
}

@media(max-width:425px) {
    .movies-container .movie-card img{
        height:100px ;
        width:auto
    };


}