header {
    display: flex;
    flex-direction: row;
    background: rgb(80, 80, 80);
    width: 100vw;
    font-family: ' Roboto', sans-serif;
    justify-content: space-between;
    flex-wrap: nowrap;
    
    
}

.main-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90vw;
   
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 95vw;
}

li {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    
}


.logo img {
    width: 30%;
    border-radius: 90%;
}
